<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>
<title>internship-mva-2016.bib</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="generator" content="bibtex2html">
</head>

<body>
<h1>internship-mva-2016.bib</h1><a name="lefkimmiatis13"></a><pre>
@article{<a href="internship-mva-2016.html#lefkimmiatis13">lefkimmiatis13</a>,
  title = {{Hessian Schatten-Norm Regularization for Linear Inverse Problems}},
  author = {Lefkimmiatis, S. and Ward, J.P. and Unser, M.},
  journal = {IEEE Trans. Image Process.},
  volume = {22},
  number = {5},
  pages = {1873--1888},
  year = {2013},
  pdf = {<a href="http://arxiv.org/pdf/1209.3318.pdf">http://arxiv.org/pdf/1209.3318.pdf</a>},
  url = {<a href="http://arxiv.org/abs/1209.3318">http://arxiv.org/abs/1209.3318</a>}
}
</pre>

<a name="ward14"></a><pre>
@article{<a href="internship-mva-2016.html#ward14">ward14</a>,
  title = {{Harmonic Singular Integrals and Steerable Wavelets in $L^2(\mathbb{R}^d)$}},
  author = {Ward, J.P. and Unser, M.},
  journal = {Applied Computational Harmonic Analysis},
  volume = {36},
  number = {2},
  pages = {183--197},
  year = {2014},
  pdf = {<a href="http://bigwww.epfl.ch/publications/ward1401.pdf">http://bigwww.epfl.ch/publications/ward1401.pdf</a>},
  url = {<a href="http://bigwww.epfl.ch/publications/ward1401">http://bigwww.epfl.ch/publications/ward1401</a>}
}
</pre>

<a name="unser16splines"></a><pre>
@article{<a href="internship-mva-2016.html#unser16splines">unser16splines</a>,
  title = {{Splines are Universal Solutions of Linear Inverse Problems with Generalized-TV Regularization}},
  author = {Unser, M. and Fageot, J. and Ward, J.P.},
  journal = {arXiv preprint arXiv:1603.01427},
  year = {2016},
  pdf = {<a href="http://arxiv.org/pdf/1603.01427.pdf">http://arxiv.org/pdf/1603.01427.pdf</a>},
  url = {<a href="http://arxiv.org/abs/1603.01427">http://arxiv.org/abs/1603.01427</a>}
}
</pre>

<a name="khalidov13"></a><pre>
@article{<a href="internship-mva-2016.html#khalidov13">khalidov13</a>,
  title = {{Operator-Like Wavelet Bases of $L^2(\mathbb{R}^d)$}},
  author = {Khalidov, I. and Unser, M. and Ward, J.P.},
  journal = {The Journal of Fourier Analysis and Applications},
  volume = {19},
  pages = {1294--1322},
  year = {2013},
  pdf = {<a href="http://bigwww.epfl.ch/publications/khalidov1301.pdf">http://bigwww.epfl.ch/publications/khalidov1301.pdf</a>},
  url = {<a href="http://bigwww.epfl.ch/publications/khalidov1301">http://bigwww.epfl.ch/publications/khalidov1301</a>}
}
</pre>

<a name="vonesch15"></a><pre>
@article{<a href="internship-mva-2016.html#vonesch15">vonesch15</a>,
  title = {{Steerable PCA for Rotation-Invariant Image Recognition}},
  author = {Vonesch, C. and Stauber, F. and Unser, M.},
  journal = {{SIAM Journal on Imaging Sciences}},
  year = {2015},
  volume = {8},
  number = {3},
  pages = {1857--1873},
  month = {},
  pdf = {<a href="http://bigwww.epfl.ch/publications/vonesch1501.pdf">http://bigwww.epfl.ch/publications/vonesch1501.pdf</a>},
  url = {<a href="http://bigwww.epfl.ch/publications/vonesch1501">http://bigwww.epfl.ch/publications/vonesch1501</a>}
}
</pre>

<a name="ward11"></a><pre>
@article{<a href="internship-mva-2016.html#ward11">ward11</a>,
  title = {{$L^p$ error estimates for approximation by Sobolev splines and Wendland functions on $\mathbb{R}^d$}},
  author = {Ward, J.P.},
  journal = {Advances in Computational Mathematics},
  year = {2011},
  volume = {38},
  number = {4},
  pages = {873--889}
}
</pre>

<a name="fageot14"></a><pre>
@article{<a href="internship-mva-2016.html#fageot14">fageot14</a>,
  title = {{On the Continuity of Characteristic Functionals and Sparse Stochastic Modeling}},
  author = {Fageot, J. and Amini, A. and Unser, M.},
  journal = {{The Journal of Fourier Analysis and Applications}},
  year = {2014},
  volume = {20},
  number = {6},
  pages = {1179--1211},
  month = {December},
  note = {},
  url = {<a href="http://bigwww.epfl.ch/publications/fageot1401">http://bigwww.epfl.ch/publications/fageot1401</a>},
  pdf = {<a href="http://bigwww.epfl.ch/publications/fageot1401.pdf">http://bigwww.epfl.ch/publications/fageot1401.pdf</a>}
}
</pre>

<a name="chaudhury10"></a><pre>
@article{<a href="internship-mva-2016.html#chaudhury10">chaudhury10</a>,
  title = {{On the Shiftability of Dual-Tree Complex Wavelet transforms}},
  author = {Chaudhury, K.N. and Unser, M.},
  journal = {IEEE Transactions on Signal Processing},
  volume = {58},
  number = {1},
  pages = {221--232},
  year = {2010},
  publisher = {IEEE},
  url = {<a href="http://bigwww.epfl.ch/publications/chaudhury0904">http://bigwww.epfl.ch/publications/chaudhury0904</a>},
  pdf = {<a href="http://bigwww.epfl.ch/publications/chaudhury0904.pdf">http://bigwww.epfl.ch/publications/chaudhury0904.pdf</a>}
}
</pre>

<a name="chaudhury09"></a><pre>
@inproceedings{<a href="internship-mva-2016.html#chaudhury09">chaudhury09</a>,
  title = {{The fractional Hilbert transform and Dual-Tree Gabor-like wavelet analysis}},
  author = {Chaudhury, K.N. and Unser, M.},
  booktitle = {2009 IEEE International Conference on Acoustics, Speech and Signal Processing},
  pages = {3205--3208},
  year = {2009},
  organization = {IEEE},
  url = {<a href="http://bigwww.epfl.ch/publications/chaudhury0901">http://bigwww.epfl.ch/publications/chaudhury0901</a>},
  pdf = {<a href="http://bigwww.epfl.ch/publications/chaudhury0901.pdf">http://bigwww.epfl.ch/publications/chaudhury0901.pdf</a>}
}
</pre>

<a name="ward13"></a><pre>
@article{<a href="internship-mva-2016.html#ward13">ward13</a>,
  title = {{Decay properties of Riesz transforms and steerable wavelets}},
  author = {Ward, J.P. and Chaudhury, K.N. and Unser, M.},
  journal = {SIAM Journal on Imaging Sciences},
  volume = {6},
  number = {2},
  pages = {984--998},
  year = {2013},
  publisher = {SIAM},
  url = {<a href="http://bigwww.epfl.ch/publications/ward1301">http://bigwww.epfl.ch/publications/ward1301</a>},
  pdf = {<a href="http://bigwww.epfl.ch/publications/ward1301.pdf">http://bigwww.epfl.ch/publications/ward1301.pdf</a>}
}
</pre>

<a name="unser13unifying"></a><pre>
@article{<a href="internship-mva-2016.html#unser13unifying">unser13unifying</a>,
  title = {{A unifying parametric framework for 2D steerable wavelet transforms}},
  author = {Unser, M. and Chenouard, N.},
  journal = {SIAM Journal on Imaging Sciences},
  volume = {6},
  number = {1},
  pages = {102--135},
  year = {2013},
  publisher = {SIAM},
  url = {<a href="http://bigwww.epfl.ch/publications/unser1301">http://bigwww.epfl.ch/publications/unser1301</a>},
  pdf = {<a href="http://bigwww.epfl.ch/publications/unser1301.pdf">http://bigwww.epfl.ch/publications/unser1301.pdf</a>}
}
</pre>

<a name="blu07self1"></a><pre>
@article{<a href="internship-mva-2016.html#blu07self1">blu07self1</a>,
  title = {{Self-similarity: Part I — Splines and operators}},
  author = {Unser, M. and Blu, T.},
  journal = {IEEE Transactions on Signal Processing},
  volume = {55},
  number = {4},
  pages = {1352--1363},
  year = {2007},
  publisher = {IEEE},
  url = {<a href="http://bigwww.epfl.ch/publications/unser0701">http://bigwww.epfl.ch/publications/unser0701</a>},
  pdf = {<a href="http://bigwww.epfl.ch/publications/unser0701.pdf">http://bigwww.epfl.ch/publications/unser0701.pdf</a>},
  crossref = {<a href="#blu07self2">blu07self2</a>}
}
</pre>

<a name="blu07self2"></a><pre>
@article{<a href="internship-mva-2016.html#blu07self2">blu07self2</a>,
  title = {{Self-similarity: Part II — Optimal estimation of fractal processes}},
  author = {Blu, T. and Unser, M.},
  journal = {IEEE Transactions on Signal Processing},
  volume = {55},
  number = {4},
  pages = {1364--1378},
  year = {2007},
  publisher = {IEEE},
  url = {<a href="http://bigwww.epfl.ch/publications/blu0701">http://bigwww.epfl.ch/publications/blu0701</a>},
  pdf = {<a href="http://bigwww.epfl.ch/publications/blu0701.pdf">http://bigwww.epfl.ch/publications/blu0701.pdf</a>},
  crossref = {<a href="#blu07self1">blu07self1</a>}
}
</pre>

<a name="hel98"></a><pre>
@article{<a href="internship-mva-2016.html#hel98">hel98</a>,
  title = {{Canonical decomposition of steerable functions}},
  author = {Hel-Or, Y. and Teo, P. C.},
  journal = {Journal of Mathematical Imaging and Vision},
  volume = {9},
  number = {1},
  pages = {83--95},
  year = {1998},
  publisher = {Springer}
}
</pre>

<a name="lohmann96"></a><pre>
@article{<a href="internship-mva-2016.html#lohmann96">lohmann96</a>,
  title = {{Fractional Hilbert transform}},
  author = {Lohmann, A.W. and Mendlovic, D. and Zalevsky, Z.},
  journal = {Optics Letters},
  number = {4},
  pages = {281--283},
  publisher = {OSA},
  volume = {21},
  month = {Feb},
  year = {1996}
}
</pre>

<a name="desvillettes11"></a><pre>
@unpublished{<a href="internship-mva-2016.html#desvillettes11">desvillettes11</a>,
  title = {{Lecture notes on Functional Analysis}},
  author = {Desvillettes, L.},
  note = {{in French}},
  year = {2011},
  url = {<a href="http://desvillettes.perso.math.cnrs.fr/analyse_fonctionnelle59.pdf">http://desvillettes.perso.math.cnrs.fr/analyse_fonctionnelle59.pdf</a>},
  pdf = {<a href="http://desvillettes.perso.math.cnrs.fr/analyse_fonctionnelle59.pdf">http://desvillettes.perso.math.cnrs.fr/analyse_fonctionnelle59.pdf</a>}
}
</pre>

<a name="unser16foundations"></a><pre>
@unpublished{<a href="internship-mva-2016.html#unser16foundations">unser16foundations</a>,
  title = {{Foundations of Digital Signal Processing - Discrete Spaces Operators and Kernel Theorems}},
  author = {Unser, M.},
  note = {{Unpublished notes}},
  year = {2016}
}
</pre>

<a name="biland04"></a><pre>
@unpublished{<a href="internship-mva-2016.html#biland04">biland04</a>,
  title = {{Quelques applications du théorème de relèvement}},
  author = {Biland, E.},
  note = {{notes in French}},
  year = {2004},
  url = {<a href="http://erwanbiland.fr/recherche_pdf/relevement.pdf">http://erwanbiland.fr/recherche_pdf/relevement.pdf</a>},
  pdf = {<a href="http://erwanbiland.fr/recherche_pdf/relevement.pdf">http://erwanbiland.fr/recherche_pdf/relevement.pdf</a>}
}
</pre>

<a name="chaudhuryPhD"></a><pre>
@phdthesis{<a href="internship-mva-2016.html#chaudhuryPhD">chaudhuryPhD</a>,
  title = {{Optimally Localized Wavelets and Smoothing Kernels}},
  author = {Chaudhury, K.N.},
  school = {{Swiss Federal Institute of Technology Lausanne (EPFL)}},
  type = {{EPFL} Thesis no.\ 4968 (2011), 239 p.},
  year = {2011},
  month = {February},
  url = {https://infoscience.epfl.ch/record/162113},
  pdf = {https://infoscience.epfl.ch/record/162113/files/EPFL_TH4968.pdf},
  doi = {10.5075/epfl-thesis-4968}
}
</pre>

<a name="puspokiPhD"></a><pre>
@phdthesis{<a href="internship-mva-2016.html#puspokiPhD">puspokiPhD</a>,
  title = {{Local Geometric Transformations in Image Analysis}},
  author = {P{\"u}sp{\"o}ki, S.},
  school = {{Swiss Federal Institute of Technology Lausanne (EPFL)}},
  type = {{EPFL} Thesis no.\ 7014 (2011), 212 p.},
  year = {2016},
  month = {June},
  url = {https://infoscience.epfl.ch/record/218634},
  pdf = {https://infoscience.epfl.ch/record/218634/files/EPFL_TH7014.pdf},
  doi = {10.5075/epfl-thesis-7014}
}
</pre>

<a name="unser14sparseprocesses"></a><pre>
@book{<a href="internship-mva-2016.html#unser14sparseprocesses">unser14sparseprocesses</a>,
  title = {{An Introduction to Sparse Stochastic Processes}},
  author = {Unser, M. and Tafti, P.D.},
  year = {2014},
  publisher = {Cambridge University Press},
  url = {<a href="http://www.sparseprocesses.org/">http://www.sparseprocesses.org/</a>},
  pdf = {<a href="http://www.sparseprocesses.org/sparseprocesses.pdf">http://www.sparseprocesses.org/sparseprocesses.pdf</a>}
}
</pre>

<a name="rudin91"></a><pre>
@book{<a href="internship-mva-2016.html#rudin91">rudin91</a>,
  title = {{Functional Analysis}},
  author = {Rudin, W.},
  year = {1991},
  publisher = {McGraw-Hill, Inc., New York},
  collection = {International series in pure and applied mathematics}
}
</pre>

<a name="grothendieck73"></a><pre>
@book{<a href="internship-mva-2016.html#grothendieck73">grothendieck73</a>,
  title = {{Topological Vector Spaces}},
  author = {Grothendieck, A.},
  year = {1973},
  publisher = {Taylor \& Francis},
  collection = {International series in pure and applied mathematics}
}
</pre>

<a name="bourbaki81"></a><pre>
@book{<a href="internship-mva-2016.html#bourbaki81">bourbaki81</a>,
  title = {{Espaces Vectoriels Topologiques : Chapitres 1 {\`a} 5}},
  author = {Bourbaki, Nicolas},
  year = {1981},
  publisher = {Masson}
}
</pre>

<a name="hormander83"></a><pre>
@book{<a href="internship-mva-2016.html#hormander83">hormander83</a>,
  title = {{Distribution Theory and Fourier Analysis}},
  author = {H{\"o}rmander, L.},
  year = {1983},
  volume = {I},
  series = {The Analysis of Linear Partial Differential Operators},
  publisher = {Springer-Verlag},
  crossref = {<a href="#hormander85">hormander85</a>}
}
</pre>

<a name="hormander85"></a><pre>
@book{<a href="internship-mva-2016.html#hormander85">hormander85</a>,
  title = {{Differential Operators with Constant Coefficients}},
  author = {H{\"o}rmander, L.},
  year = {1985},
  volume = {II},
  series = {The Analysis of Linear Partial Differential Operators},
  publisher = {Springer-Verlag},
  crossref = {<a href="#hormander83">hormander83</a>}
}
</pre>

<a name="peyre11"></a><pre>
@book{<a href="internship-mva-2016.html#peyre11">peyre11</a>,
  title = {{The Numerical Tours of Signal Processing -- Advanced Computational Signal and Image Processing}},
  author = {Peyr\'e, G.},
  year = {2011},
  publisher = {IEEE Computing in Science and Engineering},
  url = {<a href="http://www.numerical-tours.com/">http://www.numerical-tours.com/</a>},
  pages = {94--97},
  volume = {13},
  number = {4}
}
</pre>

<a name="foucart13"></a><pre>
@book{<a href="internship-mva-2016.html#foucart13">foucart13</a>,
  title = {{A Mathematical Introduction to Compressive Sensing}},
  author = {Foucart, S. and Rauhut, H.},
  volume = {1},
  number = {3},
  year = {2013},
  publisher = {Springer}
}
</pre>

<a name="angelo13"></a><pre>
@book{<a href="internship-mva-2016.html#angelo13">angelo13</a>,
  title = {{Hermitian Analysis: From Fourier series to Cauchy-Riemann Geometry}},
  author = {John P. D'Angelo},
  year = {2013},
  journal = {AMC},
  volume = {10},
  pages = {12},
  publisher = {{Springer}}
}
</pre>

<a name="stein71"></a><pre>
@book{<a href="internship-mva-2016.html#stein71">stein71</a>,
  title = {{Introduction to Fourier analysis on Euclidean spaces}},
  author = {Stein, E. M. and Weiss, G. L.},
  volume = {1},
  year = {1971},
  publisher = {{Princeton University Press}}
}
</pre>

<hr><p><em>This file was generated by
<a href="http://www.lri.fr/~filliatr/bibtex2html/">bibtex2html</a> 1.98.</em></p>
</body>
</html>
